<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <!-- User List -->
      <section class="users-list-wrapper">
        <!-- users filter start -->
     
        <!-- users filter end -->
  
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <label class="d-flex align-items-center"
                  >Show
                  <select class="form-control mx-25" [(ngModel)]="selectedOption">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                <label class="d-flex align-items-center ml-1 ml-md-0"
                  >Search:<input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control ml-25"
                    (keyup)="filterUpdate($event)"
                    (search)="filterUpdate($event)"
                /></label>
                 
              </div>
            </div>
          
          </div>
          
          <ngx-datatable       
            [rows]="rows"
            [rowHeight]="40"
            class="bootstrap core-bootstrap"
            [limit]="selectedOption"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
         
           
              <ngx-datatable-column name="id" [headerClass]="'fa fa-file-image-o'" prop="id" >
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <span class="text-muted font-small-2"> <b>{{ row.id }}</b></span>
                   
                  
                </div>
              </ng-template>
              
            </ngx-datatable-column>
         
            
            <ngx-datatable-column name="dateDebut"    [headerClass]="'fa fa-calendar'"  class="modal modal-slide-in fade event-sidebar"   >
             
                <ng-template let-row="row" let-name="value"  ngx-datatable-cell-template>
                  <div class="d-flex align-items-center" >
                    <div  >
                     
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': row.status == 'active',
                          'bg-light-secondary': row.status == 'inactive',
                          'bg-light-warning': row.status == 'pending'
                        }"
                      >
                        <div class="avatar-content">{{ name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height" >
                      <a routerLink="/apps/user/user-view/{{ row.dateDebut  |date:'medium'  }}" class="font-medium-1 d-block"
                        ><span class="font-weight-bold">{{ name }}</span></a
                      >
                      <span class="text-muted font-small-2"> <b>{{ row.userName }}</b></span>
                    </div>
                  </div>
                </ng-template>
                
              </ngx-datatable-column>
               
             
    
            <ngx-datatable-column name="dateFin"    [headerClass]="'fa fa-calendar'"  class="modal modal-slide-in fade event-sidebar"   >
             
              <ng-template let-row="row" let-name="value"  ngx-datatable-cell-template>
                <div class="d-flex align-items-center" >
                  <div  >
                   
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      [ngClass]="{
                        'bg-light-success': row.status == 'active',
                        'bg-light-secondary': row.status == 'inactive',
                        'bg-light-warning': row.status == 'pending'
                      }"
                    >
                      <div class="avatar-content">{{ name | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height" >
                    <a routerLink="/apps/user/user-view/{{ row.dateFin  |date:'medium'  }}" class="font-medium-1 d-block"
                      ><span class="font-weight-bold">{{ name }}</span></a
                    >
                    <span class="text-muted font-small-2"> <b>{{ row.userName }}</b></span>
                  </div>
                </div>
              </ng-template>
              
            </ngx-datatable-column>
        
          
                
            <ngx-datatable-column name="prix"    [headerClass]="'fa fa-euro'"  class="modal modal-slide-in fade event-sidebar"   >
             
                <ng-template let-row="row" let-name="value"  ngx-datatable-cell-template>
                  <div class="d-flex align-items-center" >
                    <div  >
                     
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': row.status == 'active',
                          'bg-light-secondary': row.status == 'inactive',
                          'bg-light-warning': row.status == 'pending'
                        }"
                      >
                        <div class="avatar-content">{{ name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height" >
                      <a routerLink="/apps/user/user-view/{{ row.prix}}" class="font-medium-1 d-block"
                        ><span class="font-weight-bold">{{ name }}</span></a
                      >
                      <span class="text-muted font-small-2"> <b>{{ row.adresse }}</b></span>
                    </div>
                  </div>
                </ng-template>
                
              </ngx-datatable-column>
              <ngx-datatable-column name="status"    [headerClass]="'fas fa-check-circle'"  class="modal modal-slide-in fade event-sidebar"   >
             
                <ng-template let-row="row" let-name="value"  ngx-datatable-cell-template>
                  <div class="d-flex align-items-center" >
                    <div  >
                     
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': row.status == 'active',
                          'bg-light-secondary': row.status == 'inactive',
                          'bg-light-warning': row.status == 'pending'
                        }"
                      >
                        <div class="avatar-content">{{ name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height" >
                      <a routerLink="/apps/user/user-view/{{ row.prix}}" class="font-medium-1 d-block"
                        ><span class="font-weight-bold">{{ name }}</span></a
                      >
                      <span class="text-muted font-small-2"> <b>{{ row.adresse }}</b></span>
                    </div>
                  </div>
                </ng-template>
                
              </ngx-datatable-column>
              <ngx-datatable-column name="paiement" [headerClass]="'fa dollar-sign'" class="modal modal-slide-in fade event-sidebar">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="d-flex align-items-center">
                    <div>
                    </div>
                    <ng-template #customAvatar>
                      <div
                        class="avatar mr-1 ml-0"
                        [ngClass]="{
                          'bg-light-success': row.status == 'active',
                          'bg-light-secondary': row.status == 'inactive',
                          'bg-light-warning': row.status == 'pending'
                        }"
                      >
                        <div class="avatar-content">{{ name | initials }}</div>
                      </div>
                    </ng-template>
                    <div class="cell-line-height">
                      <div *ngFor="let paiement of row.paie">
                        <a routerLink="/apps/user/user-view/{{ paiement.id }}" class="font-medium-1 d-block">
                          <span class="font-weight-bold">{{ paiement.amount }}</span>
                        </a>
                        <span class="text-muted font-small-2"> <b>{{ paiement.payementDate }}</b></span>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              
              
            <ngx-datatable-column name="Actions" prop="fullName"  >
              <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                <div class="d-flex align-items-center">
                  <div  >
                     
                  </div>
                  <ng-template #customAvatar>
                    <div
                      class="avatar mr-1 ml-0"
                      [ngClass]="{
                        'bg-light-success': row.status == 'active',
                        'bg-light-secondary': row.status == 'inactive',
                        'bg-light-warning': row.status == 'pending'
                      }"
                    >
                      <div class="avatar-content">{{ name | initials }}</div>
                    </div>
                  </ng-template>
                  <div class="cell-line-height">
                    <a routerLink="/apps/user/user-view/{{ row.id }}" class="font-medium-1 d-block"
                      ><span class="font-weight-bold">{{ name }}</span></a
                    >
                    
                    &nbsp;
                    <span >  <a class="fa fa-pencil" href="javascript:void(0);" container="body" placement="top" ngbTooltip="Edit" (click) = "editItem(row)"
                      ><i size="18"  ></i
                    ></a></span>
                    &nbsp;
                    <span >  <a class="fa fa-trash" href="javascript:void(0);" container="body" placement="top" ngbTooltip="Delete" (click) = "deleteItem(row)"
                      ><i size="18"  ></i
                    >       </a></span>
                  </div>
                </div>
              </ng-template>
              
            </ngx-datatable-column>
            <div>
                
            
    </div>
          </ngx-datatable>
        </div>
      </section>
      <!--/ User List -->
    </div>
  
    <!-- New User Sidebar -->
    <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="new-user-sidebar"
      overlayClass="modal-backdrop"
    >
      <app-new-user-sidebar></app-new-user-sidebar>
    </core-sidebar>
    <!--/ New User Sidebar -->
  </div>
  
  