
 
  
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add car</h4>
     
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm"  enctype="multipart/form-data"    >
          
         
         
        
        <div class="form-group"  >
          <label>Nom Voiture </label>
          <input type="text" class="form-control"   formControlName="nomProd" id="nomProd"    >
           
          <div class="err" *ngIf=" f.nomProd.invalid &&(f.nomProd.touched ||f.nomProd.touched)">
              <div *ngIf="f.nomProd.errors.required" class="text-danger">*Nom Produit is required
               </div>
        </div>
        </div>
        
        <div class="form-group">
          <label>Marque </label>
          <input type="text" class="form-control" formControlName="marque" id="marque">
          <div class="err" *ngIf="f.marque.invalid && f.marque.touched">
            <div *ngIf="f.marque.errors && f.marque.errors.required" class="text-danger">*marque is required</div>
        </div>
          
        
      
       </div> 
        
        <div class="form-group">
          <label>Modele </label>
          <input type="text" class="form-control" formControlName="modele" id="modele"   >
          <div class="err" *ngIf="f.modele.invalid && f.modele.touched">
            <div *ngIf="f.modele.errors && f.modele.errors.required" class="text-danger">*modele is required</div>
        
       
</div>

<div class="form-group">
  <label>Couleur </label>
  <input type="text" class="form-control" formControlName="couleur" id="couleur"   >
  <div class="err" *ngIf="f.couleur.invalid && f.couleur.touched">
    <div *ngIf="f.couleur.errors && f.couleur.errors.required" class="text-danger">*Couleur is required</div>


</div>
<div class="form-group">
  <label>Km </label>
  <input type="number" class="form-control" formControlName="km" id="km"   >
  <div class="err" *ngIf="f.km.invalid && f.km.touched">
    <div *ngIf="f.km.errors && f.km.errors.required" class="text-danger">*Km is required</div>


</div>
        
<div class="form-group">
    <label>Prix </label>
    <input type="text" class="form-control" formControlName="prix" id="prix"   >
    <div class="err" *ngIf="f.prix.invalid && f.prix.touched">
        <div *ngIf="f.prix.errors && f.prix.errors.required" class="text-danger">*prix is required</div>
    
   
</div>
        
<div class="form-group">
    <label>Annee </label>
    <input type="text" class="form-control" formControlName="annee" id="annee"   >
    <div class="err" *ngIf="f.annee.invalid && f.annee.touched">
        <div *ngIf="f.annee.errors && f.annee.errors.required" class="text-danger">*annee is required</div>
    
 
</div>
<div class="form-group">
  <label for="carType"> Type:</label>
  <select  class="form-control" id="type" formControlName="type">
    <option value="Diesel">Diesel</option>
    <option value="Essence">Essence</option>
    <option value="Electrique">Electrique</option>
    <!-- Add other options as needed -->
  </select>
</div>
<div class="form-group">
  <label for="Boite"> Boite:</label>
  <select  class="form-control" id="boite" formControlName="boite">
    <option value="Automatique">Automatique</option>
    <option value="Manuel">Manuel</option>
 
    <!-- Add other options as needed -->
  </select>
</div>

      
    <div class="form-group">
      <label>photo1 </label>
          <input type="file" accept="image/*" (change)="onSelectFile($event)" class="form-control" formControlName="photo1">
          <img [src]="imgURL" height="140" *ngIf="imgURL">
          
   </div>  
   <div class="form-group">
    <label> photo2 </label>
        <input type="file" accept="image/*" (change)="onSelectFile2($event)" class="form-control" formControlName="photo2">
        <img [src]="imgURL2" height="140" *ngIf="imgURL2">
        
 </div> 
 <div class="form-group">
  <label> photo3 </label>
      <input type="file" accept="image/*" (change)="onSelectFile3($event)" class="form-control" formControlName="photo3">
      <img [src]="imgURL3" height="140" *ngIf="imgURL3">
      
</div> 
<div class="form-group">
  <label> photo4 </label>
      <input type="file" accept="image/*" (change)="onSelectFile4($event)" class="form-control" formControlName="photo4">
      <img [src]="imgURL4" height="140" *ngIf="imgURL4">
      
</div> 
  <button  [hidden]="edited" type="submit" class="btn btn-dark" (click)="onSubmit()"  ><i class="fa fa-database"></i>  <img *ngIf="IsLoading" src="assets/images/loading.gif" style="width: 24px;"> Submit
   
  </button>

  <button  class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Fermer</button>
</div>
  </div>
</div>
 
       
    
      