<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contrat de Location de Voiture</title>
    <link rel="stylesheet" type="text/css"  >
</head>


<body><button (click)="printToPDF()">Exporter en PDF</button>
    <div class="container" id="content" #content>
        
        <div class="header">
            <img src="logo-entreprise.png" alt="Logo de l'entreprise">
            <h1>Contrat de vente Voiture</h1>

        </div>
 
       <br>
       <br>
        
        


        <h2>Renseignements Relatif au acheteur </h2>
        <p><strong>Nom   :</strong> {{this.userlist1["clientNom"]}}</p>
        <p><strong>Prenom  :</strong>{{this.userlist1["clientPrenom"] }}</p>
         <p><strong>Telephone :</strong> {{this.userlist1["clienttelephone"]}}</p>
         <p><strong>Email :</strong>{{this.userlist1["clientmail"]}} </p>
         <p><strong>Né(e) le:</strong>{{this.userlist1["clientnaissance"]}} </p>
         <p><strong>Permis de conduire</strong> {{this.userlist1["clientPermis"] }}</p>  <p>Delivré le :{{this.userlist1["clientDelivre"] }} </p>
  
  

        <h2>Informations sur la Voiture</h2>
        <p><strong>Modèle de la Voiture :</strong> {{this.userlist1["produitModele"]}}</p>
        <p><strong>Marque :</strong> {{this.userlist1["produitMarque"]}}</p>
        <p><strong>Annee :</strong> {{this.userlist1["annee"]}}</p>
        <p><strong>Immatriculation</strong> {{this.userlist1["produitImatricule"]}}</p>
        <p><strong>Prix :</strong> {{this.userlist1["prix"]}}</p>
        
        <img src="schema-voiture.png" alt="Schéma de la voiture">

        <h2>Mode de Paiement</h2>
        <label>
            <input type="checkbox" name="payment" value="carte"> Paiement par Carte de Crédit
        </label>
        <label>
            <input type="checkbox" name="payment" value="espece"checked> Paiement en Espèces
        </label>
        <label>
            <input type="checkbox" name="payment" value="cheque"> Paiement par Chèque
        </label>
        <h2>Prix Total</h2>
        <p><strong>Prix Total :</strong> {{this.userlist["prix"]}} euro <!-- Remplacez par le montant réel -->

        <div class="signature">
            <p>Signature du Client :</p>
            <img src="signature-client.png" alt="Signature du client">
        </div>
    </div>
 
</body>
</html>
