@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';
.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
   width: 200;
   height: max-content;
}/* Styles pour le tableau ngx-datatable */

/* En-tête de colonne */
.datatable-header-cell {
   background-color: #f5f5f5; /* Couleur de fond de l'en-tête de colonne */
   font-weight: bold; /* Police en gras pour les en-têtes de colonne */
 }
 
 /* Lignes paires */
 .datatable-row-even {
   background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
 }
 
 /* Lignes impaires */
 .datatable-row-odd {
   background-color: #ffffff; /* Couleur de fond pour les lignes impaires */
 }
 
 /* Styles pour les cellules */
 .datatable-body-cell {
   padding: 8px; /* Espacement interne des cellules */
   font-size: 14px; /* Taille de la police pour les cellules */
 }
 
 /* Styles pour les bordures du tableau */
 .datatable-row {
   border-bottom: 1px solid #ddd; /* Bordure inférieure des lignes du tableau */
 }
 
 /* Ajoutez d'autres styles personnalisés selon vos besoins */
 