.location {
    background-color: #FF6384; /* Set the background color for Location */
    width:18px;
    height:12px;
  }

  .exchange {
    background-color: #36A2EB; /* Set the background color for Exchange */
    width:18px;
    height:12px;
  }

  .sale {
    background-color: #FFCE56; /* Set the background color for Sale */
    width:18px;
    height:12px;
  }